@import "./responsive/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    border-bottom: 1px solid rgb(218, 218, 218);

    @include mobile {
        flex-direction: column;

        .logo {
            padding: 10px;
        }

        .navigation {
            width: 80% !important;
            flex-direction: column;
            ul {
                border-radius: 0 !important;
                margin-left: 0px !important;
            }
        }
    }

    @include tablet {
        flex-direction: column;
    }

    @include desktop {
        flex-direction: row;
    }

    .logo {
        img {
            width: 200px;
        }
    }

    .navigation {
        display: flex;

        a {
            text-decoration: none;
            color: black;
        }

        ul {
            margin-left: 10px;
            cursor: pointer;
            padding: 10px;
            border: 1px solid grey;
            border-radius: 10px;
            user-select: none;
        }
    }
}

.login {
    .login-box {
        width: 400px;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -20%);
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;

        @include mobile {
            width: 80%;
        }

        h1 {
            margin: 0;
        }

        .col-1 {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
        }

        .col-2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        a {
            margin-top: 10px;
            text-decoration: none;
            color: black;
        }

        button {
            margin-top: 10px;
        }
    }
}

.forum {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 50px;
    margin-top: 20px;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
        grid-template-columns: repeat(1, 1fr);
    }

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
    }

    .post {
        width: 100%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .header-post {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid black;

            @include mobile {
                flex-direction: column;
            }

            @include tablet {
                flex-direction: column;
            }

            .title {
                padding: 10px;
                text-overflow: ellipsis;
                // white-space: nowrap;
                width: 50%;
                overflow: hidden;
                line-break: anywhere;

                @include mobile {
                    text-align: center;
                    width: 100%;
                }

                @include tablet {
                    text-align: center;
                    width: 100%;
                }
            }

            .author {
                font-style: italic;
            }
        }

        .message {
            padding: 10px;
            line-break: anywhere;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .more {
            padding: 10px;
            text-align: center;
            cursor: pointer;
            border-top: 1px solid black;
        }

        .thread-option {
            width: 100%;
            bottom: 0;
        }

        .delete {
            padding: 10px;
            text-align: center;
            cursor: pointer;
            border-top: 1px solid black;
            background: rgba(255, 0, 0, 0.479);
        }
    }
}

.thread {
    display: flex;
    justify-content: center;
    .thread-container {
        width: 80%;

        @include mobile {
            width: 80%;
        }

        @include tablet {
            width: 80%;
        }

        @include desktop {
            width: 80%;
        }

        .thread-post {
            margin-top: 20px;
            border: 1px solid black;
            .header-thread {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                border-bottom: 1px solid black;

                @include mobile {
                    flex-direction: column;
                }

                .title {
                    padding: 10px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 50%;
                    overflow: hidden;

                    @include mobile {
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .message {
                padding: 10px;
                border-bottom: 1px solid black;

                .message-format {
                    line-break: anywhere;
                }

                .image {
                    display: flex;
                    justify-content: center;
                    img {
                        max-width: 200px;
                    }
                }
            }

            .reply {
                padding: 10px;

                textarea {
                    margin-top: 5px;
                    width: 100%;
                    height: 100px;
                    resize: none;
                }

                .end {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 5px;
                }
            }
        }

        .reply-post {
            position: relative;
            margin-top: 50px;
            margin-bottom: 40px;
            background: rgba(177, 177, 177, 0.377);
            padding: 10px;
            // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

            .message {
                line-break: anywhere;
            }

            .author {
                font-style: italic;
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
            }

            .delete {
                cursor: pointer;
                position: absolute;
                bottom: -29px;
                right: 0;
                background: rgb(251, 40, 40);
                width: fit-content;
                padding: 5px;
                color: white;
                font-weight: bold;
            }
        }
    }
}

.createThread {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    .thread-form {
        width: 500px;
        border: 1px solid black;
        padding: 10px;

        @include mobile {
            width: 80%;
        }

        .col-2 {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 5px;
        }
    }
}

.settings {
    margin: 20px;
}
